### Import modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read the dataset and show Headers

In [2]:
data = pd.read_csv("renfe.csv")
print(data.head())

   Unnamed: 0          insert_date  origin destination           start_date  \
0           0  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 06:20:00
1           1  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 07:00:00
2           2  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 07:30:00
3           3  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 08:00:00
4           4  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 08:30:00

              end_date train_type  price train_class   fare
0  2019-05-29 09:16:00    AV City  38.55     Turista  Promo
1  2019-05-29 09:32:00        AVE  53.40     Turista  Promo
2  2019-05-29 09:51:00        AVE  47.30     Turista  Promo
3  2019-05-29 10:32:00        AVE  69.40  Preferente  Promo
4  2019-05-29 11:14:00      ALVIA    NaN     Turista  Promo

### Show datatypes

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579771 entries, 0 to 2579770
Data columns (total 10 columns):
Unnamed: 0     int64
insert_date    object
origin         object
destination    object
start_date     object
end_date       object
train_type     object
price          float64
train_class    object
fare           object
dtypes: float64(1), int64(1), object(8)
memory usage: 196.8+ MB

### Check for null values

In [4]:
data.isnull().sum()

Unnamed: 0          0
insert_date         0
origin              0
destination         0
start_date          0
end_date            0
train_type          0
price          310681
train_class      9664
fare             9664
dtype: int64

### Delete any rows with null values

In [5]:
data.dropna(inplace=True)
data.isnull().sum()

### Create a Series containing the Train Start Times

In [6]:
timeS = pd.Series(data["start_date"].str.split(" ").str[0])
print(timeS[0:5])

0    2019-05-29
1    2019-05-29
2    2019-05-29
3    2019-05-29
5    2019-05-29
Name: start_date, dtype: object

In [13]:
timeS.to_string()
print(timeS[0:5])

0    2019-05-29
1    2019-05-29
2    2019-05-29
3    2019-05-29
5    2019-05-29
Name: start_date, dtype: object